body {
height: 100%;
margin: 0;
}



.topleft {
position: absolute;
top: 0;
left: 0;
}

.bottomleft {
position: absolute;
color: chartreuse;
bottom: 0;
left: 0;
}

.middle {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

hr {
margin: auto;
width: 40%;
}

/* New styles for the fixed header */
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgba(255, 255, 255, 0.804);
padding: 5px;
z-index: 1;
}

.header p {
color: white;
margin: 0;
font-size: 18px;
}
